@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Brand */
  --color-background-dark: #0f0f0f;
  --color-foreground-dark: #f1fdfe;
  --color-primary-dark: #0f0f0f;
  --color-secondary-dark: #323232;
  --color-accent: #0030f0;

  /* Neutrals */
  --color-link: #5e7eff;

  /* Fonts */
  --breakpoint-lg: 1024px;
  --font-manrope: "Manrope", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Text Sizes */
  --text-h1: 5.61rem;
  --text-h2: 4.209rem;
  --text-h3: 3.157rem;
  --text-h4: 2.369rem;
  --text-h5: 1.777rem;
  --text-golden: 1.618rem;
  --text-h6: 1.333rem;
  --text-p: 1rem;
}

@layer base {
  body {
    @apply bg-background-dark font-manrope text-base leading-relaxed;
  }

  h1 {
    @apply sm:text-h1 text-h3 font-urbanist tracking-tight text-foreground-dark;
    font-weight: 600;
  }

  h2 {
    @apply sm:text-h2 text-h4 font-urbanist text-foreground-dark tracking-tight;
    font-weight: 600;
  }

  h3 {
    @apply sm:text-h3 text-h5  font-urbanist text-foreground-dark;
    font-weight: 500;
  }

  h4 {
    @apply sm:text-h4 text-h6 font-urbanist text-foreground-dark;
    font-weight: 500;
  }

  h5 {
    @apply sm:text-h5 text-golden font-urbanist text-foreground-dark;
    font-weight: 400;
  }

  h6 {
    @apply text-h6 font-urbanist text-foreground-dark;
    font-weight: 400;
  }

  p {
    @apply text-p;
    font-weight: 400;
    @apply font-inter;
    @apply text-foreground-dark;
  }

  a {
    @apply text-link;
    @apply font-inter;
    @apply text-p;
  }

  button {
    @apply bg-secondary-dark;
    padding: 10px 20px;
    border-radius: 7px;
    @apply text-foreground-dark;
  }

  button.dark {
    @apply bg-accent;
    font-family: "Inter", sans-serif;
    padding: 10px 20px;
    border-radius: 25px;
    @apply text-foreground-dark;
  }
}

#mobile-menu ul {
  padding: 5px;
}

#mobile-menu ul li {
  padding-bottom: 5px;
  margin: 10px;
  font-size: 1em;
  color: white;
  border-bottom: 1px solid white;
}

.nav-menu li {
  padding: 5px 20px 5px 20px;
  color: white;
}

ul.tech li {
  @apply text-h4 sm:text-h3;
}
