@import "tailwindcss";

@theme {
  --color-background-dark: #0f0f0f;
  --color-foreground-dark: #f1fdfe;
  --color-primary-dark: #0f0f0f;
}

@layer base {
  body {
    @apply bg-[--color-background-light]
             text-[--color-foreground-light]
             font-sans antialiased;
  }

  a {
    @apply text-[--color-primary-dark] hover:underline;
  }

  .dark a {
    @apply text-[--color-primary-dark];
  }
}

#mobile-menu ul {
  padding: 5px;
}

#mobile-menu ul li {
  padding-bottom: 5px;
  margin: 10px;
  font-size: 1em;
  color: white;
  border-bottom: 1px solid white;
}

.nav-menu li {
  padding: 5px 20px 5px 20px;
  color: white;
}
